body {
    margin: 0;
    padding: 0;
    background-image: url(../images/bg-pattern-top.svg), url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 52vw bottom 35vh, left 48vw top 52vh;
    background-color: hsl(185, 75%, 39%);
    overflow: hidden;
    font-family: 'Kumbh Sans', sans-serif;
}

h5, h6 {
    font-size: 1.125rem;
}

.card {
    margin: 12% auto;
    max-width: 350px;
    background-color: white;
    border-radius: 15px;
    position: relative;
    border: none;
}

.top img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.mid img {
    border: 10px solid white;
    border-radius: 100%;
    position: absolute;
    top: 22%;
    left: 32%;
}

.userInfo, .userLocation {
    margin: 0 auto;
    text-align: center;
}

.mid {
    margin-top: 80px;
}

.stats {
    text-align: center;
}

.userInfo * {
    display: inline-block;
    margin-bottom: 0.6rem;
}

h5, h6 {
    color: hsl(229, 23%, 23%);
}

p {
    color: hsl(227, 10%, 46%);
}

hr {
    border: 1px thin hsl(0, 0%, 59%);
    color: hsl(0, 0%, 59%);
    margin: 1.3rem 0;
}

.userInfo h5 {
    font-weight: bolder;
}

.userInfo p {
    font-size: 1.3rem;
}

.bottom {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.7rem;
}

.bottom h6 {
    font-weight: bolder;
}

.bottom p {
    letter-spacing: 2px;
    font-size: 0.7rem;
}


@media only screen and (max-width: 950px) {
    body {
        background-position: right 50vw bottom 27vh, left 45vw top 35vh;
    }
}

@media only screen and (max-width: 400px) {
    body {
        background-position: right 65vw bottom 30vh, left 47vw top 50vh;
        background-size: 60vh;
    }
    .card {
        margin: 40% 10% 0;
        max-width: 300px;
    }

    .mid img {
        left: 30%;
        top: 19%;
    }
}

@media only screen and (max-width: 450px) {
    body {
        background-position: right 60vw bottom 27vh, left 60vw top 55vh;
        background-size: 70vh;
    }

    .card {
         margin-top: 30%;
    }
}





